#me{
    color: green;
}

#box{
    text-align: center;
    border: 1px solid green;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}

#box:hover{
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 0 20px black;
    transition: all 1s ease-in-out;
}

#box h3{
    color: green;
}

#prog1 #prog2 p{
    font-size: 10px;
    margin-left: 20px;
}