#nav ul{
    display: flex;
}

#nav ul li{
    list-style: none;
}

ul li #tags{
    text-decoration: none;
    margin: 3px;
    font-weight: 700;
    /* color: white; */
}

ul li #tags:hover{
    color: rgb(167, 163, 163);
}

ul li .active{
    color: gray;
}